# Imports

In [1]:
import pandas as pd

In [2]:
reviews = pd.read_csv('og_data/reviews2024.csv')

In [3]:
reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,31094,79346,2010-08-16,171607,Ben,"We had a great stay. Conveniently located, qui..."
1,31094,166275,2011-01-05,306860,Makita,It was a very good stay. The appartment was re...
2,31094,1452299,2012-06-10,1321058,Pierre,Really enjoyed my time at Ebbe's place. It is...
3,31094,6766430,2013-08-24,2182771,Sussie,"The apartment was very well located, 10-15 min..."
4,31094,6827217,2013-08-26,8025926,Wil,"This is a great flat, very clean with everythi..."

In [4]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366636 entries, 0 to 366635
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   listing_id     366636 non-null  int64
 1   id             366636 non-null  int64
 2   date           366636 non-null  object
 3   reviewer_id    366636 non-null  int64
 4   reviewer_name  366636 non-null  object
 5   comments       366619 non-null  object
dtypes: int64(3), object(3)
memory usage: 16.8+ MB

In [5]:
# 1. Remove HTML tags and clean text
reviews['comments'] = reviews['comments'].str.replace(r"<br/>", "\n", regex=True).str.strip()

# Export

In [6]:
reviews.to_csv(
    "cleaned_data/cleaned_reviews.csv",
    index=False,
    encoding="utf-8"
)